header{ 

	color: green;
	text-align :left; 

}
h1{ 

	color: purple;
	text-align: left;
	

}
.container {
	
	max-width: 900px;
	max-left: auto;
	max-right :auto;
	
}
body .content-area {
	
	border-bottom: 3px solid black; 
	border-top: 3px solid black; 
}
body .main-area {
	width: 66%;
	float: left;
}
body .sidebar {
	width: 34%; 
	float: left;
	
}
 
