\
html {
	background-color: #B56357;
}
header{ 

	color: #B4DBC0;
	text-align :left; 

}
h1{ 

	color: purple;
	text-align: left;
	

}
.container {
	background-color: #A7B3A5;
	padding-right: 40px;
	padding-left: 40px; 
	width: 940px;
	margin-left: auto;
	margin-right :auto;
	box-sizing: border-box;
}
.content-area {
	background-color: #A7B3A5;
	border-bottom: 3px solid black; 
	border-top: 2px solid black; 
}
body .main-area {
	background-color: #A7B3A5;
	width: 66%;
	float: left;
	padding-right: 40px; 
	box-sizing: border-box;
	
}
body .sidebar {
	background-color: #A7B3A5;
	width: 34%; 
	float: left;
	
}
body {
		font-family: Tahoma, sans-serif; 
		font-size: 95%; 
}
body .tit{
	color: #B4DBC0;
	text-align: left; 
	
}
.fix {
	
		clear: both; 
}
.group: before,
.group:after 
 {

	content: "";
	display: table;
	
}
 .group:after{
	clear:both;
 }

 .group {
	zoom: 1;
 }
 

 
