html {
  background-color: #B56357;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.content-area {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

footer {
	font-size: 85%; 
	text-align: center; 
	color: #999; 
	padding-bottom: 20px; 
	padding-top: 20px; 
	
}	
.main-area {
  width: 66%;
  float: left;
}

.sidebar {
  width: 34%;
  float: left;
  background-color: #EAE3EA;
  padding: 20px 40px 20px 40px;
  box-sizing: border-box; 
  font-size: 90%;
  
}

.fix {
  clear: both;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
