html {
	background-color: #B56357;
}
header{ 

	color: #B4DBC0;
	text-align :left; 

}
h1{ 

	color: #A7B3A5;
	text-align: left;
	

}

footer .highlight{
	text-align: center; 
	font-size: 85%; 
	color: #999;
}
	
