html {
	background-color: #ff9b84;
 	background-image: linear-gradient(to bottom right, #ff9b84,#B56357 );
	line-height: 1.5; 
}
/*	Site Navigation */
.site-nav {
		margin-top: 20px;
}
.site-nav ul{ 
	
	margin: 0; 
	padding: 0; 
}
.site-nav li {
	
	list-style: none; 
	float: left; 
	margin-right: 5px; 
}
.site-nav a {
	text-decoration: none;
	color: #B4DBC0;
	padding: 10px 20px; 
	border: 3px solid #A7B3A5;
	display: block; 
	
}
 .site-nav a:hover {
		background-color: #A7B3A5;
 }
 /* End site nav**/
 a {
	text-decoration: none; 
 }
header {
	font-size: 100%;
	font-weight: normal;
	color : #B4DBC0;
	text-align :left; 
	padding-top: 20px; 
	text-shadow: 2px 10px 10px rgba(0, 0, 0, .5);
	text-transform: uppercase; 
	
}
body {
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 15px; 
	color: #B4DBC0;
	font-weight: normal;
	
}
img {
	max-width: 100%; 
	height: auto; 
}

 .main-area {
	text-align: left; 
	width: 940px;
  margin-left: auto;
  margin-right: auto;
  
}

footer .highlight{
	text-align: center; 
	font-size: 85%; 
	color: #999;
}
.fix {
  clear: both;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
