html {
	background-color: #d8a6ed;
}

header {
	font-size: 165%;
	font-weight: normal;
	color : purple;
	text-align :center; 
	
}
body {
	
	color: pink;
}
footer .highlight {
		color: black;
		
		padding: 1px; 
		 
		margin: 5px; 
		width: 100px;
		
}
.container {
	
	max-width: 940px; 
	margin-left: auto; 
	margin-right: auto; 
		
}
footer .highlight{
	text-align: center; 
	font-size: 85%; 
	color: #999;
}
